@charset 'utf-8';
.setting{
  &__header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 140rem/$font;
    background: #fff;
    &--back{
      @include allCen(0);
      @include location(0, 0);
      width: 160rem/$font;
      height: 140rem/$font;
      color: #333;
      @include font(46px);      
    }
    &--title{
      margin: 0 auto;
      width: 800rem/$font;
      height: 100%;
      @include location(0, 0);
      color: #333;
      @include font(50px);
    }
  }
  &__content{
    padding-top: 240rem/$font;
    ul{
      margin-top: 100rem/$font;
    }
    li{
      position: relative;
      width: 100%;
      height: 140rem/$font;
      background: #fff;
      border-top: 1px solid #e5e5e5;
      &:last-child{
        border-bottom: 1px solid #e5e5e5;
      }
      p{
        padding-left: 60rem/$font;
        width: 600rem/$font;
        height: 100%;
        @include location(0, null);
        @include font(44px);
      }
      .btn-sw{
        position: absolute;
        top: 0;
        right: 0;
        width: 300rem/$font;
        height: 100%;
        @include location(0, 0);
      }
    }
  }
}